body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #051b44, #0e387a);
    margin: 0;
    color: #333;
}

/* HEADER */
.header {
    text-align: center;
    padding: 20px;
    color: white;
}

.header h1 {
    margin: 0;
    font-size: 28px;
}

.header p {
    margin: 5px 0 0;
    font-size: 14px;
}

.container {
    max-width: 420px;
    margin: auto;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    border: 3px solid #000000; /* 🔥 línea azul */
}

/* SECCIONES */
.section {
    margin-bottom: 20px;
}

h2 {
    color: #0a2a66;
    font-size: 18px;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 5px;
}

/* INPUTS */
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

input:focus {
    border-color: #1c4fa3;
    outline: none;
    box-shadow: 0 0 5px rgba(28,79,163,0.3);
}

/* RESULTADOS */
.result-box {
    background: #f4f6fb;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.result-box span {
    color: #1c4fa3;
    font-weight: bold;
}

/* ESTADO */
.estado {
    margin-top: 15px;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    background: #eee;
}

/* BOTONES */
.buttons {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #1c4fa3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0a2a66;
}

button.secondary {
    background: #ccc;
    color: #333;
}

/* RESPONSIVE */
@media (max-width: 500px) {
    .container {
        margin: 10px;
        padding: 15px;
    }
}

.logo {
    width: 120px;
    margin: 10px 0;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.3));
}

.error {
    color: red;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin: 2px 0 8px 0;
}